* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #014E56;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__contant-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.header__link-img {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__item > a {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

.header__link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__link:hover {
  background-color: white;
  color: #014E56;
}

.header__contact-link {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__contant-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
}
@media only screen and (max-width: 600px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__list {
    display: none;
  }
  .header__contant-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .header__link {
    display: none;
  }
  .header__contact-link {
    display: block;
  }
}
.hero-section {
  background-image: url(../../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: calc(50% - 741px) top;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
  padding-bottom: 250px;
  background-image: url(../../images/hero-bg2.svg);
  background-repeat: no-repeat;
  background-size: 350px 100px;
  background-position: right bottom;
}

.hero__title-wrapper {
  width: 540px;
}

.hero__title-wrapper > h2 {
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__title-wrapper > h2 > span {
  color: #F67E7E;
}

.hero__text-wrapper {
  width: 445px;
}

.hero__line {
  width: 50px;
  height: 4px;
  display: inline-block;
  background-color: #79C8C7;
  margin-bottom: 79px;
}

.hero__text-wrapper > p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    background-position: center bottom;
  }
  .hero__line {
    display: none;
  }
  .hero__title-wrapper, .hero__text-wrapper {
    width: 100%;
  }
  .hero__title-wrapper > h2 {
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 54px;
    color: white;
  }
  .hero__text-wrapper > p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    padding-bottom: 197px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
  }
  .hero__title-wrapper > h2 {
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
  }
}
@media only screen and (max-width: 400px) {
  .hero {
    background-size: 100%;
  }
}
.build-section {
  padding: 140px 0;
  background-color: #012F34;
  background-image: url(../../images/build-bg.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: right bottom;
}

.build {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.build__title-wrapper {
  max-width: 414px;
}

.build__line {
  width: 50px;
  height: 4px;
  display: inline-block;
  margin-bottom: 54px;
  background-color: #F67E7E;
}

.build__title-wrapper > h2 {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

.build__list {
  max-width: 540px;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 32px;
}

.buil__item {
  max-width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 23px;
}

.build__text-wrapper {
  max-width: 445px;
}

.build__text-wrapper > h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #F67E7E;
}

.build__text-wrapper > p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #CCD5D6;
}

@media only screen and (max-width: 800px) {
  .build-section {
    padding: 100px 0;
    background-position: right top;
  }
  .build {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 64px;
    width: 540px;
    margin: 0 auto;
  }
  .build__title-wrapper {
    max-width: 445px;
  }
  .build__line {
    margin-bottom: 32px;
  }
  .build__title-wrapper > h2 {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .build-section {
    padding: 64px 0;
  }
  .build {
    max-width: 327px;
  }
  .build__title-wrapper {
    max-width: 220px;
  }
  .buil__item {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    text-align: center;
  }
  .build__text-wrapper {
    max-width: 100%;
  }
  .build__text-wrapper > h3 {
    margin-bottom: 8px;
  }
}
.result-section {
  padding: 140px 0;
  background-color: #004047;
  background-image: url(../../images/result-bg1.svg), url(../../images/result-bg2.svg);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: left top, right bottom;
}

.result__title-wrapper {
  text-align: center;
}

.result__title-wrapper > h2 {
  margin-bottom: 56px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

.result__title-wrapper > h2 > span {
  color: #79C8C7;
}

.reslut__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.reslut__item {
  width: 350px;
  background-image: url(../images/result-small-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 67px 56px;
  text-align: center;
}

.reslut__item > p {
  padding-top: 36px;
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.reslut__item > strong {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.reslut__item > span {
  display: block;
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  font-style: italic;
}

@media only screen and (max-width: 800px) {
  .result-section {
    padding: 100px 0;
  }
  .result {
    max-width: 573px;
    margin: 0 auto;
  }
  .result__title-wrapper {
    max-width: 499px;
    margin: 0 auto;
  }
  .result__title-wrapper > h2 {
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .reslut__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
  .reslut__item {
    width: 100%;
  }
  .reslut__item > p, .reslut__item > span {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .result-section {
    padding: 140px 0 164px;
  }
  .result {
    max-width: 327px;
  }
}/*# sourceMappingURL=main.css.map */